$main-color: #0f3057;
$h2-color: #00587a;
$p-color: #008891;
$body-color: #e7e7de;
$note-color: #c7c7ba;
$main-color-for-nav: rgba(15, 48, 87, 0.95);

p {
  color: $p-color;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  // background-color: $body-color;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url("../images/1.1-min.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-container {
  display: inline-flex;
}

.header-items,
.icons-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.icons-container {
  padding: 0;
  justify-content: space-around;
  a {
    i {
      margin: 1rem;
      font-size: 2.5rem;
    }
    color: white;
    &:visited {
      color: white;
    }
  }
}
.header-items {
  padding: 3rem 4rem;
  max-width: 40vw;
  min-width: 18.75em;
  flex-direction: column;
  border: 1rem solid white;
}

/* ------------------ nav --------------------- */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav {
  // background-image: linear-gradient($main-color, rgba(255, 0, 0, 0));
  background-color: $main-color-for-nav;
  // width: 100vw;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-content: center;
    li {
      a {
        display: block;
        text-align: center;
        padding: 1rem 1.2rem;
        text-decoration: none;
        color: $p-color;
        transition: color 0.5s, font-size 0.5s;
        &:hover {
          font-size: 1.25em;
          color: white;
        }
      }
    }
    #nav-img {
      padding-left: 1em;
      align-self: center;
      height: 2em;
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  nav {
    ul {
      li {
        a {
          padding: 1rem 0.8rem;
        }
      }
    }
  }
}
/* ----------------------------------------- */

.grid-container {
  width: 80vw;
  margin: auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: auto auto;

  h2 {
    color: $h2-color;
  }

  span {
    font-weight: 200;
    color: $p-color;
  }
  p {
  }
  .my-img {
    border-radius: 50%;
    width: 12.5em;
    margin: auto;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: block;
    width: 80vw;
    margin: auto;
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  .grid-container article {
    margin-left: 2rem;
  }
}

/* ------------------------- */
section {
  h2 {
    color: $h2-color;
  }
}

.grid-article {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;

  .vr {
    padding: 0.188em;
    height: 100%;
    border-left: 0.125em $p-color solid;
  }
}

@media only screen and (max-width: 600px) {
  .grid-article {
    display: block;
    .date {
      margin-right: 0rem;

      border-right: none;
    }
    .vr {
      display: none;
    }
  }
}
/* ------------- skils --------------- */
#skilsH {
  color: $h2-color;
  text-align: center;
}
.skils {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;

  .container {
    width: 100%;
    background-color: #ddd;

    .skills {
      text-align: right;
      padding-top: 0.625em;
      padding-bottom: 0.625em;
      color: white;
      padding-right: 0.5rem;
    }
    .html {
      width: 90%;
      background-color: #e85d25;
    }
    .css {
      width: 90%;
      background-color: #249cda;
    }
    .sass {
      width: 85%;
      background-color: #be5f8b;
    }
    .bootstrap {
      width: 80%;
      background-color: #5e2ca7;
    }
    .js {
      width: 60%;
      background-color: #efd81d;
    }
    .php {
      width: 60%;
      background-color: #4d588e;
    }
    .flutter {
      width: 70%;
      background-color: #53c5f9;
    }
    .git {
      width: 75%;
      background-color: #e84c33;
    }
  }
}
@media only screen and (max-width: 600px) {
  .skils {
    grid-template-columns: 1fr;
  }
}
// ------------------ pro2.0 --------------------
.note {
  font-size: 0.7em;
  width: 80vw;
  margin: auto;
  color: $note-color;
}
.pro-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
  margin: auto;
}

.flip-card {
  margin-top: 2em;
  background-color: transparent;
  width: 275px;
  height: 550px;
  perspective: 1000px;
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  &:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  img {
    width: 100%;
    height: 100%;
  }
}

.flip-card-back {
  padding-left: 1em;
  padding-right: 1em;
  background-color: $body-color;
  color: $main-color;
  transform: rotateY(180deg);
  overflow: auto;
}

// ------------------ pro --------------------
.pro-h2 {
  color: $h2-color;
  text-align: center;
  margin-top: 3rem;
}
.pro-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem 5rem;
  width: 95vw;
  margin: auto;
  margin-top: 2rem;

  .card {
    display: flex;
    box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
    transition: 0.3s;
    width: 80%;
    margin: auto;
    align-items: flex-start;
    &:hover {
      box-shadow: 0 0.5em 1em 0 rgba(20, 57, 83, 0.5);
      width: 90vw;
      font-size: 1.25em;
    }
    align-self: start;
    .container {
      padding: 0.125em 1em;
    }
    .card-img {
      width: 20%;
    }
    .github-icon {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .pro-container {
    .card {
      width: 95%;
      flex-direction: column;
      .card-img {
        width: 80%;
        margin: auto;
      }
      .github-icon {
        width: 20%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .pro-container {
    .card {
      flex-direction: column;
      .card-img {
        width: 100%;
      }
    }
  }
}
// ------------------ con --------------------
#con-h2 {
  color: $h2-color;
  text-align: center;
  padding-top: 3rem;
}
section {
  padding-bottom: 2rem;
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-content: left end;
    div {
      label {
        font-size: 1.25em;
        font-weight: 600;
        color: $h2-color;
      }
      .f-input {
        width: 100%;

        font-size: 1.125em;
        color: $main-color;
        font-family: "Raleway", FontAwesome;
        padding: 0.5rem;
        border: 0.125em $body-color solid;
        transition: 0.5s;
        &:focus,
        &:hover {
          border: $p-color 0.125em solid !important;
        }
      }
      input[type="text"]:focus,
      input[type="number"]:focus,
      input[type="url"]:focus,
      input[type="email"]:focus {
        border: 0.125em solid $p-color;
      }
      textarea {
        width: 100%;
        font-size: 1.125em;
        color: $main-color;
        border: 0.125em $body-color solid;
        transition: 0.5s;
        &:hover {
          border: $p-color 0.125em solid !important;
        }
      }
    }
    #submit {
      justify-self: center;
      // width: 3rem;
      height: 3rem;
      width: 6rem;
      margin-top: auto;
      margin-bottom: auto;
      background-color: $h2-color;
      color: white;
      border-radius: 0px;
      font-size: 1.125em;
      border: 0;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
      }
    }
  }
}
::placeholder {
  color: $body-color;
  opacity: 0.8;
}
@media only screen and (max-width: 600px) {
  section {
    form {
      grid-template-columns: 1fr;
    }
  }
}
.con-social {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  font-weight: 500;
  // text-align: center;
  padding: 5rem 0;
  background-image: linear-gradient(
    rgba(231, 231, 222, 0.39),
    rgba(255, 255, 255, 0)
  );
}
/* ------------- footer --------------- */
footer {
  margin-top: 2rem;
  text-align: center;
  background-color: $main-color;
  color: white;
  padding: 3rem 0;

  .flex-container {
    a {
      transition: 0.5s;
      i {
        margin: 1rem;
        font-size: 2.5rem;
      }
      color: $p-color;
      &:visited {
        color: $p-color;
      }
      &:hover {
        color: white;
      }
    }
  }
}
// ----------------scrollbar----------------
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: $p-color;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: $body-color;
}
