p {
  color: #008891;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url("../images/1.1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-items,
.icons-container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-container {
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons-container a {
  color: white;
}

.icons-container a i {
  margin: 1rem;
  font-size: 2.5rem;
}

.icons-container a:visited {
  color: white;
}

.header-items {
  padding: 3rem 4rem;
  max-width: 40vw;
  min-width: 18.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1rem solid white;
}

/* ------------------ nav --------------------- */
nav {
  position: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0f3057), to(rgba(255, 0, 0, 0)));
  background-image: linear-gradient(#0f3057, rgba(255, 0, 0, 0));
  width: 100vw;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1.2rem;
  text-decoration: none;
  color: #306c99;
  -webkit-transition: color 0.5s, font-size 0.5s;
  transition: color 0.5s, font-size 0.5s;
}

nav ul li a:hover {
  font-size: 1.25em;
  color: white;
}

@media only screen and (max-width: 600px) {
  nav ul li a {
    padding: 1rem 0.8rem;
  }
}

/* ----------------------------------------- */
.grid-container {
  width: 80vw;
  margin: auto;
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.grid-container h2 {
  color: #00587a;
}

.grid-container span {
  font-weight: 200;
  color: #008891;
}

.grid-container .my-img {
  border-radius: 50%;
  width: 12.5em;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: block;
    width: 80vw;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .grid-container article {
    margin-left: 2rem;
  }
}

/* ------------------------- */
section h2 {
  color: #00587a;
}

.grid-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr;
      grid-template-columns: 1fr 1fr 3fr;
}

.grid-article .vr {
  padding: 0.188em;
  height: 100%;
  border-left: 0.125em #008891 solid;
}

@media only screen and (max-width: 600px) {
  .grid-article {
    display: block;
  }
  .grid-article .date {
    margin-right: 0rem;
    border-right: none;
  }
  .grid-article .vr {
    display: none;
  }
}

/* ------------- skils --------------- */
#skilsH {
  color: #00587a;
  text-align: center;
}

.skils {
  width: 80vw;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.skils .container {
  width: 100%;
  background-color: #ddd;
}

.skils .container .skills {
  text-align: right;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  color: white;
  padding-right: 0.5rem;
}

.skils .container .html {
  width: 90%;
  background-color: #e85d25;
}

.skils .container .css {
  width: 90%;
  background-color: #249cda;
}

.skils .container .sass {
  width: 85%;
  background-color: #be5f8b;
}

.skils .container .bootstrap {
  width: 80%;
  background-color: #5e2ca7;
}

.skils .container .js {
  width: 60%;
  background-color: #efd81d;
}

.skils .container .php {
  width: 60%;
  background-color: #4d588e;
}

.skils .container .flutter {
  width: 70%;
  background-color: #53c5f9;
}

.skils .container .git {
  width: 75%;
  background-color: #e84c33;
}

@media only screen and (max-width: 600px) {
  .skils {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.pro-h2 {
  color: #00587a;
  text-align: center;
  margin-top: 3rem;
}

.pro-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem 5rem;
  width: 95vw;
  margin: auto;
  margin-top: 2rem;
}

.pro-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
          box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 80%;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: start;
}

.pro-container .card:hover {
  -webkit-box-shadow: 0 0.5em 1em 0 rgba(20, 57, 83, 0.5);
          box-shadow: 0 0.5em 1em 0 rgba(20, 57, 83, 0.5);
  width: 90vw;
  font-size: 1.25em;
}

.pro-container .card .container {
  padding: 0.125em 1em;
}

.pro-container .card .card-img {
  width: 20%;
}

.pro-container .card .github-icon {
  width: 20%;
}

@media only screen and (max-width: 800px) {
  .pro-container .card {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pro-container .card .card-img {
    width: 80%;
    margin: auto;
  }
  .pro-container .card .github-icon {
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .pro-container .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pro-container .card .card-img {
    width: 100%;
  }
}

#con-h2 {
  color: #00587a;
  text-align: center;
  padding-top: 3rem;
}

section {
  padding-bottom: 2rem;
}

section form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  -webkit-box-pack: left end;
      -ms-flex-pack: left end;
          justify-content: left end;
}

section form div label {
  font-size: 1.25em;
  font-weight: 600;
  color: #00587a;
}

section form div .f-input {
  width: 100%;
  font-size: 1.125em;
  color: #0f3057;
  font-family: "Raleway", FontAwesome;
  padding: 0.5rem;
  border: 0.125em #e7e7de solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section form div .f-input:focus, section form div .f-input:hover {
  border: #008891 0.125em solid !important;
}

section form div input[type="text"]:focus,
section form div input[type="number"]:focus,
section form div input[type="url"]:focus,
section form div input[type="email"]:focus {
  border: 0.125em solid #008891;
}

section form div textarea {
  width: 100%;
  font-size: 1.125em;
  color: #0f3057;
  border: 0.125em #e7e7de solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section form div textarea:hover {
  border: #008891 0.125em solid !important;
}

section form #submit {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 3rem;
  width: 6rem;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #00587a;
  color: white;
  border-radius: 0px;
  font-size: 1.125em;
  border: 0;
  cursor: pointer;
}

section form #submit:hover {
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
          box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
}

::-webkit-input-placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

:-ms-input-placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

::-ms-input-placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

::placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  section form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.con-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25em;
  font-weight: 500;
  padding: 5rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 231, 222, 0.39)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(rgba(231, 231, 222, 0.39), rgba(255, 255, 255, 0));
}

/* ------------- footer --------------- */
footer {
  margin-top: 2rem;
  text-align: center;
  background-color: #0f3057;
  color: white;
  padding: 3rem 0;
}

footer .flex-container a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #008891;
}

footer .flex-container a i {
  margin: 1rem;
  font-size: 2.5rem;
}

footer .flex-container a:visited {
  color: #008891;
}

footer .flex-container a:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */