p {
  color: #008891;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url("../images/1.1-min.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-items,
.icons-container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-container {
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons-container a {
  color: white;
}

.icons-container a i {
  margin: 1rem;
  font-size: 2.5rem;
}

.icons-container a:visited {
  color: white;
}

.header-items {
  padding: 3rem 4rem;
  max-width: 40vw;
  min-width: 18.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1rem solid white;
}

/* ------------------ nav --------------------- */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  background-color: rgba(15, 48, 87, 0.95);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 1fr;
      grid-template-columns: 10fr 1fr;
  -webkit-transition: 3s;
  transition: 3s;
}

.cBurgerMenu {
  -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
  background-color: rgba(15, 48, 87, 0.8) !important;
  height: 100vh;
  width: 100vw;
}

.cBurgerMenu ul {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cBurgerMenu ul li {
  padding-top: 5vh;
}

.cBurgerMenu ul li a {
  font-size: 2em;
  font-weight: bold;
  display: block;
  color: white;
  text-decoration: none;
}

.cBurgerMenu #x {
  height: 1em;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 6px 0;
  }
  nav i {
    display: inline;
    margin: 1rem;
    color: #008891;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
  }
  nav ul li a {
    display: none;
  }
}

@media (min-width: 601px) {
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  nav ul li a {
    display: block;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
    color: #008891;
    -webkit-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
  }
  nav ul li a:hover {
    font-size: 1.25em;
    color: white;
  }
  nav ul #nav-img {
    padding-left: 1em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 2em;
  }
  nav ul #nav-img img {
    height: 100%;
    border-radius: 50%;
  }
  nav i {
    display: none !important;
  }
}

/* ----------------------------------------- */
.grid-container {
  width: 80vw;
  margin: auto;
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.grid-container h2 {
  color: #00587a;
}

.grid-container span {
  font-weight: 200;
  color: #008891;
}

.grid-container .my-img {
  border-radius: 50%;
  width: 12.5em;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: block;
    width: 80vw;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .grid-container article {
    margin-left: 2rem;
  }
}

/* ------------------------- */
section h2 {
  color: #00587a;
}

.grid-article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr;
      grid-template-columns: 1fr 1fr 3fr;
}

.grid-article .vr {
  padding: 0.188em;
  height: 100%;
  border-left: 0.125em #008891 solid;
}

@media only screen and (max-width: 600px) {
  .grid-article {
    display: block;
  }
  .grid-article .date {
    margin-right: 0rem;
    border-right: none;
  }
  .grid-article .vr {
    display: none;
  }
}

/* ------------- skils --------------- */
#skillsH {
  color: #00587a;
  text-align: center;
}

.skills {
  width: 80vw;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills .html {
  background-color: #e85d25;
}

.skills .skill {
  text-align: center;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  color: white;
}

.skills .skill p {
  color: white;
}

.skills .css {
  background-color: #249cda;
}

.skills .sass {
  background-color: #be5f8b;
}

.skills .bootstrap {
  background-color: #5e2ca7;
}

.skills .js {
  background-color: #efd81d;
}

.skills .wordpress {
  background-color: #4d588e;
}

.skills .flutter {
  background-color: #53c5f9;
}

.skills .git {
  background-color: #e84c33;
}

@media only screen and (max-width: 600px) {
  .skills {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.pro-buttons {
  width: 80vw;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.pro-buttons button {
  border: 0;
  outline: 0;
  border-radius: 0px;
  -webkit-transition: 1s;
  transition: 1s;
  padding: .5rem;
  margin: 0;
  background-color: white;
  color: #c7c7ba;
  font-size: 1.125em;
  border-bottom: 3px solid #e7e7de;
  cursor: pointer;
}

.pro-buttons button:hover {
  border-bottom: 2px solid #00587a;
  color: #00587a;
}

.pro-buttons .active {
  border-bottom: 3px solid #00587a;
  color: #00587a;
}

.pro-html-card, .pro-Wordpress-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  margin: auto;
}

.pro-html-card img, .pro-Wordpress-card img {
  width: 50%;
}

.pro-html-card .card-body, .pro-Wordpress-card .card-body {
  background-color: #F7F7F4;
  width: 50%;
  padding: 1rem;
}

.pro-html-card .card-body h4, .pro-Wordpress-card .card-body h4 {
  color: #00587a;
}

.pro-html-card .card-body img, .pro-Wordpress-card .card-body img {
  width: 6rem;
}

.pro-html-card .card-body p a, .pro-Wordpress-card .card-body p a {
  color: #078766;
}

@media only screen and (max-width: 800px) {
  .pro-buttons button {
    font-size: 1rem;
  }
  .pro-html-card, .pro-Wordpress-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pro-html-card img, .pro-Wordpress-card img {
    width: 100%;
  }
  .pro-html-card .card-body, .pro-Wordpress-card .card-body {
    width: 100%;
  }
}

.pro-flutter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
  margin: auto;
}

.pro-flutter-container .note {
  font-size: 0.7em;
  width: 80vw;
  margin: auto;
  color: #c7c7ba;
}

.pro-flutter-container .flip-card {
  margin-top: 2em;
  background-color: transparent;
  width: 275px;
  height: 550px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.pro-flutter-container .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pro-flutter-container .flip-card .flip-card-inner .flip-card-front,
.pro-flutter-container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pro-flutter-container .flip-card .flip-card-inner .flip-card-front {
  background-color: #bbb;
  color: black;
}

.pro-flutter-container .flip-card .flip-card-inner .flip-card-front img {
  width: 100%;
  height: 100%;
}

.pro-flutter-container .flip-card .flip-card-inner .flip-card-back {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #e7e7de;
  color: #0f3057;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  overflow: auto;
}

.pro-flutter-container .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.pro-h2 {
  color: #00587a;
  text-align: center;
  margin-top: 3rem;
}

.pro-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem 5rem;
  width: 95vw;
  margin: auto;
  margin-top: 2rem;
}

.pro-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
          box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 80%;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: start;
}

.pro-container .card:hover {
  -webkit-box-shadow: 0 0.5em 1em 0 rgba(20, 57, 83, 0.5);
          box-shadow: 0 0.5em 1em 0 rgba(20, 57, 83, 0.5);
  width: 90vw;
  font-size: 1.25em;
}

.pro-container .card .container {
  padding: 0.125em 1em;
}

.pro-container .card .card-img {
  width: 20%;
}

.pro-container .card .github-icon {
  width: 20%;
}

@media only screen and (max-width: 800px) {
  .pro-container .card {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pro-container .card .card-img {
    width: 80%;
    margin: auto;
  }
  .pro-container .card .github-icon {
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .pro-container .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pro-container .card .card-img {
    width: 100%;
  }
}

#con-h2 {
  color: #00587a;
  text-align: center;
  padding-top: 3rem;
}

section {
  padding-bottom: 2rem;
}

section form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  -webkit-box-pack: left end;
      -ms-flex-pack: left end;
          justify-content: left end;
}

section form div label {
  font-size: 1.25em;
  font-weight: 600;
  color: #00587a;
}

section form div .f-input {
  width: 100%;
  font-size: 1.125em;
  color: #0f3057;
  font-family: "Raleway", FontAwesome;
  padding: 0.5rem;
  border: 0.125em #e7e7de solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section form div .f-input:focus, section form div .f-input:hover {
  border: #008891 0.125em solid !important;
}

section form div input[type="text"]:focus,
section form div input[type="number"]:focus,
section form div input[type="url"]:focus,
section form div input[type="email"]:focus {
  border: 0.125em solid #008891;
}

section form div textarea {
  width: 100%;
  font-size: 1.125em;
  color: #0f3057;
  border: 0.125em #e7e7de solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section form div textarea:hover {
  border: #008891 0.125em solid !important;
}

section form #submit {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 3rem;
  width: 6rem;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #00587a;
  color: white;
  border-radius: 0px;
  font-size: 1.125em;
  border: 0;
  cursor: pointer;
}

section form #submit:hover {
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
          box-shadow: 0 0.25em 0.5em 0 rgba(20, 57, 83, 0.5);
}

::-webkit-input-placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

:-ms-input-placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

::-ms-input-placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

::placeholder {
  color: #e7e7de;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  section form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.con-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25em;
  font-weight: 500;
  padding: 5rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 231, 222, 0.39)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(rgba(231, 231, 222, 0.39), rgba(255, 255, 255, 0));
}

/* ------------- footer --------------- */
footer {
  margin-top: 2rem;
  text-align: center;
  background-color: #0f3057;
  color: white;
  padding: 3rem 0;
}

footer .flex-container a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #008891;
}

footer .flex-container a i {
  margin: 1rem;
  font-size: 2.5rem;
}

footer .flex-container a:visited {
  color: #008891;
}

footer .flex-container a:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #008891;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e7e7de;
}
/*# sourceMappingURL=style.css.map */